{% extends 'base.html' %}
{% load static %}
{% load jobextra %}

{% block content %}

<div>
  <nav class="fixed-top navbar navbar-expand-lg bg-light px-5 py-2">
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="{% url 'home' %}">{{category}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon btn btn-outline-primary"></span>
      </button>
      <div class="collapse navbar-collapse mx-5 fs-5" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="mx-3 nav-link" aria-current="page" href="{%url 'home' %}">Home</a>
          {% if category == "Terraformer" %}
          <a class="mx-3 nav-link" aria-current="page" href="{%url 'add_job' group %}">Add Job</a>
          <a class="mx-3 nav-link" aria-current="page" href="{%url 'archieved_jobs' group %}">Archieved Jobs</a>
          {% endif %}
          <a class="mx-3 nav-link" href="{%url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  
  <div class = "mt-5">
    <div class="text-center">
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"{% endif %} role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  
      {% endfor %}
      {% endif %}
  </div>
  
  <div class = "my-5">
    <div class="card my-4 bg-{{job.bg_class}} text-white" style="width: 48rem;">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div><h3 class="card-title">{{job.title}}</h3></div>
                <div>
                  <button type="button" class="btn btn-primary">{{job.deadline}}</button>
                  <button type="button" class="btn btn-dark">{{job.days_left.days}} days left</button>
                </div>
            </div>
              <h6 class="card-subtitle mb-2">{{job.location}}</h6>
              <p class="card-text">{{job.description|convert_markdown|safe}}</p>
              <h6 class="card-subtitle mb-2">{{job.email}}</h6>
              <h6 class="card-subtitle mb-2">{{job.mobile}}</h6>
        </div>
        
        <div class="card-footer d-flex justify-content-end bg-light">
            <div><a class="btn btn-primary mx-4" aria-current="page" href="{%url 'dashboard' group %}"> Back to Dashboard</a></div>
            {% if is_applied %}
              <a href="{% url 'apply_job' group job.id %}" class="btn btn-warning mx-4">Applied</a>
            {% else %}
              <a href="{% url 'apply_job' group job.id %}" class="btn btn-success mx-4">Apply</a>
            {% endif %}
      </div>
    </div>
  </div>
  </div>
  
</div>    
{% endblock content %}
