{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg mx-5 my-5">
  <div class="d-flex mx-5 my-5 text-white">
    <img src="{% static 'images/favicon.png' %}" alt="NBYULA LOGO">
    <h1 class="mx-2">NBYULA</h1>
  </div>
  <div class="text-center">
    {% if messages %}
    {% for message in messages %}

    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"{% endif %} role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    {% endif %}
</div>
  <div class="home mx-5 my-5">
    <div class="card-outline mx-5 my-5 text-center home_card">
      <div class="my-4">
        <h2>TERRAFORMER</h2>
      </div>
      <div class="card-body">
        <a href="{% url 'signup' 1 %}" class="btn btn-outline-primary py-3 px-4 mx-4 my-3">Sign Up</a>
        <a href="{% url 'login'  1 %}" class="btn btn-outline-primary py-3 px-4 mx-4 my-3">Login</a>
      </div>
    </div>
  
    <div class="card-outline mx-5 my-5 text-center home_card">
      <div class="my-4">
        <h2>APPLICANT</h2>
      </div>
      <div class="card-body">
        <a href="{% url 'signup' 2 %}" class="btn btn-outline-primary py-3 px-4 mx-4 my-3">Sign Up</a>
        <a href="{% url 'login'  2 %}" class="btn btn-outline-primary py-3 px-4 mx-4 my-3">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}